body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1{
    font-size: 40px;
    border-image-slice: 5px rgb(255, 102, 0);

}
.mission{
    color: orange;
}
.upper_part{
    display: flex;
    align-items: center;
    justify-content: center;
}
.half_width{
    width: 50%;
    padding-left: 10%;
    padding-top: 10%;
}
.half_width img{
    width: 100%;
}
.link_button{
    text-decoration: none;
    background-color: orangered;
    padding: 5px 20px;
    border-radius: 5px;
}
.one_third img{
width: 100px;
height: 100px;
}
#first_card{
    background-color: rgba(53, 247, 247, 0.26);
}
#second_card{
    background-color: rgba(221, 160, 221, 0.466);
}
#third_card{
    background-color: rgba(100, 148, 237, 0.205);
}
.one_third{
    height: auto;
    width: 200px;
    margin: 20px 10px;
    padding: 20px 20px;
    border-radius: 10%;
}
.card_content{
    font-size: smaller;
}
.mission_line{
    color: darkorange;
}
.header_middle{
    text-align: center;
}
.third_part{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 80px
}
.half_part img{
width: 70%;
padding-left: 80px;
}
third_content{
    font-size: x-small;
}
.second_half{
    font-size: small;
    padding: 20px;
}
.secondlink_button{
    text-decoration: none;
    background-color: orangered;
    padding: 5px 20px;
    border-radius: 5px;
}
.fourth_part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px
}
.fourth_part img{
    width: 70%;
    padding-left: 60px;
}
.community_content{
    font-size: small;
    margin-left: 80px;
}
.thirdlink_button{
    text-decoration: none;
    background-color: orangered;
    padding: 5px 20px;
    border-radius: 5px;
}
.partial_colour{
    color: darkorange;
}
.ctl_heading{
    text-align: center;
    margin-top: 60px;
}
.final_heading{
    color: darkorange;
}
.sample_website img{
    width: 50%;
    margin-left: 80px;
}
.final_part{
    display: flex;
    justify-content: center;
}
.about_service{
    font-size: small;
    margin-top: 80px;
}
.final_button{
    text-decoration: none;
    background-color: orangered;
    padding: 5px 20px;
    border-radius: 5px;
}
footer h5{
    text-align: center;
    color: blanchedalmond;
}
footer p{
    text-align: center;
    font-size: smaller;
    color: cadetblue;
}
footer{
background-color: black;
}